:root{
    --light-shades: #e8e8e8;
    --light-accent: #e6b4b4;
    --main-brand: #a01111;
    --dark-accent: #360303;
    --dark-shades: #212121;
    --shades-contrast: #292929;
  }

body{
    overflow-y: hidden;
}

/* INVERSÃO DE IMAGENS */

#drafts, #botões button, #report img, .Dark-theme .curtidas img{
    filter: invert(100%);
}

.Dark-theme #drafts, .Dark-theme #botões button, .Dark-theme #report img{
    filter: invert(0%);
}


/* HEADER */

header{
    background-color: var(--main-brand);
    display: flex;
    padding: 30px 0%;
    height: 5vh;
    align-items: center;
}


/* HEADER - DIV ICONE */

#divIcone{
    width: 25%;
    text-align: center;
}

#divIconene img{
    width: calc(10vmax + 60px);
    vertical-align: middle;
}


/* HEADER - SEARCH BAR */

#search{
    width: 50%;
}

.input-box {
    position: relative;
    height: 76px;
    max-width: 55%;
    width: 100%;
    background: var(--dark-shades);
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: var(--dark-shades);
  }
  .input-box input {
    height: 100%;
    width: 75%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    color: var(--light-shades);
    background-color: transparent;
  }
  
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e8e8e8;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: var(--main-brand);
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }

  @media screen and (max-width: 550px) {
    .input-box {
       height: 66px;
       margin: 0 8px;
    }
    .input-box i {
       left: 12px;
       font-size: 25px;
    }
    .input-box input {
       width: 80%;
       padding: 0 0vmax 0 3vmax;
       font-size: calc(1vmax + 5px);
    }
    .input-box .button {
       display: none;
    }
  }


/* HEADER - BOTÕES */

#botões{
    width: 25%;
    text-align: end;
}

#botões img{
    width: calc(3vmax + 15px);
    cursor: pointer;
}

#botões button{
    padding: 2%;
}

/* LOGIN */

#box{
    display: none;
    background-color: var(--shades-contrast);
    position: absolute;
    width: calc(35vw + 50px);
    height: calc(40vh + 70px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    z-index: 9999999;
    color: var(--light-shades)
}

@media (max-width: 800px) {
    #box{
        width: 80vw;
        height: 60vh;
    }
}

#box *{
    margin: 15px;
    padding: 5px;
}

#box #submitInput,#resetInput{
    background-color: var(--main-brand);
    border-radius: 10px;
    border: 0px solid;
    width: 180px;
    height: 50px;
    font-size: 15px;
    transition:  all 0.2s ease-in-out;
}

#submitInput:hover,#resetInput:hover{
    scale: 1.05;
}

#submitInput, #resetInput{
    color: white;
    cursor: pointer;
}

#box #resetInput{
    width: 70px;
    height: 30px;
    font-size: 12px;
}

#box #emailInput, #passwordInput{
    border-radius: 5px;
    border: 0px solid;
}

#box #emailInput:invalid, #passwordInput:invalid{
    border: 2px solid red;
}

#box #emailInput:valid, #passwordInput:valid{
    border: 2px solid green;
}

#exitLogin{
    position: absolute;
    top: 0;
    right: 0;
    border: 0px solid;
    background-color: transparent;
    width: 30px;
    height: 30px;
    font-weight: bolder;
}

#exitLogin:hover{
    scale: 1.3;
    color: var(--main-brand);
}

/* BOXES */

.confirmarDenuncia{
    width: 100%;
    display: none;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: calc(30vh + 50px);
}

.confirmarDenuncia h1{
    font-size: calc(1vmax + 20px);
}

.confirmarDenuncia p{
    font-size: calc(0.5vmax + 10px);
}

.confirmarDenuncia #ConfirmarButton, .confirmarDenuncia #RetornarButton{
    border-radius: 10px;
    border: 0px solid;
    font-size: 15px;
    height: 50px;
    transition: all 0.2s ease-in-out;
}

.confirmarDenuncia #ConfirmarButton:hover, .confirmarDenuncia #RetornarButton:hover{
    scale: 1.05;
}

.confirmarDenuncia #ConfirmarButton{
    color: white;
    background-color: var(--main-brand);
}

.confirmarDenuncia #RetornarButton{
    color: var(--main-brand);
    background-color: white;
    border: 1px solid var(--main-brand)
}

/* CONTEUDO DA PÁGINA */

#pageContent{
    background-color: var(--dark-shades);
    display: flex;
    justify-content: space-between;
}


/* CONTEÚDO - FILTER*/

#filter{
    background-color: var(--dark-shades);
    width: 20%;
    text-align: center;
    color: var(--light-shades);
    outline: 2px dashed var(--light-shades);
    outline-offset: -8px;
    padding: 20px;
}


/* CONTEÚDO - POSTS */

#boxPosts{
    background-color: var(--dark-shades);
    width: 60%;
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    color: var(--light-shades);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 85vh;
    word-wrap: break-word;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-brand);
    border-radius: 20px;
    border: 0px solid;
}


.postResult{
    background-color: var(--light-shades);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: var(--dark-shades);
    flex-direction: row;
    flex-shrink: 0;
}
.postResult a{
    color: var(--main-brand);
}

.postResult .capa{
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: calc(15vmax + 50px);
}

.interações{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: absolute;
    padding: 1% 2% 1% 1%;
    background-color: var(--light-shades);
    border-radius: 0px 0px 50px 0px;
}

.interações button{
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

.curtidas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#quantasCurtidas{
    grid-row: span 2;
    margin-right: 5px;
    font-size: calc(0.5vmax + 10px);
    color: var(--dark-shades);
}

#report{
    width: 70%;
}

#like:hover{
    background-color: green;
}

#report:hover, #dislike:hover{
    background-color: red;
}

.interações img{
    width: calc(1vmax + 20px);
    padding: 5%;
}

/* CONTEÚDO - RANKS*/

#ranks{
    background-color: var(--dark-shades);
    width: 20%;
    text-align: center;
    color: var(--light-shades);
    outline: 2px dashed var(--light-shades);
    outline-offset: -8px;
    padding: 20px;
}

/* DRAFTS */

#drafts{
    width: 50px;
}

#buttonDrafts{
    background-color: var(--main-brand);
    padding: 20px;
    position: absolute;
    right: 50px;
    z-index: 999;
    bottom: 50px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

#buttonDrafts:hover{scale: 0.9;}

.boxDraft{
    display: none;
    z-index: 998;
    width: 40vw;
    height: 40vh;
    border-radius: 3vmax;
    padding: 5%;
    padding-left: 2%;
    background-color: var(--shades-contrast);
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%)
}

.boxDraft img{
    height: calc(3vmax + 40px);
    margin-right: 2%;
}

.DraftsInfo{
    display: flex;
    height: 100%;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    color: var(--main-brand);
    opacity: 0.8;
    pointer-events: none;
    display: block; /* For Firefox */
  }

  .textarea {
    font-size: calc(0.5vmax + 15px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border: 1px solid var(--main-brand);
    resize: none;
    background-color: transparent;
    color: var(--light-shades);
    width: 80%;
    height: 100%;
  }

.textarea bold{
    font-weight: 900;
}

.DraftsInfo{
   height: 90%;
  }

.textarea::placeholder{
    color: var(--main-brand)
  }

.boxDraft button{
    font-size: calc(0.7vmax + 7px);
    font-weight: 400;
    color: #e8e8e8;
    border: none;
    padding: calc(1.2% + 3px) calc(3% + 6px);
    border-radius: 6px;
    background-color: var(--main-brand);
    cursor: pointer;
  }

.botões{
    width: 100%;
    margin-top: 2%;
  }

.botões .extra{
    margin-left: calc(3vmax + 40px + 2%);
  }
  
.botões .icones{
    background-color: transparent;
    padding: 0;
    margin-right: 2%;
  }

.botões .icones img{
    height: calc(2vmax + 10px);
  }

.Ligado{
    filter: drop-shadow(2px 2px 10px var(--main-brand));
  }

.Analise{
    position: absolute;
    right: 10%;
  }

@media (max-width: 900px){
    .boxDraft{
        top: 40%;
        width: 80vw;
        height: 60vh;
    }
    .botões{
        margin-left: 0%;
    }
    .botões .extra{
        margin-left: 0%;
    }
}


/* FOOTER */

footer{
    background-color: var(--dark-shades);
}

footer p{
    cursor: pointer;
}


/* RESPONSIVIDADE */

#ToolBar{
    width: 100vw;
    background-color: var(--dark-accent);
    color: var(--light-shades);
    display: none;
    text-align: center;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    #divIcone img{
        content: url("../images/logoIconLight.png");
        width: calc(4vmax + 20px) !important;
    }
    .Dark-theme #divIcone img{
        content: url("../images/logoIconDark.png");
    }
    #ToolBar{
        position: fixed;
        bottom: 0%;
        padding: 10px 0px 10px 0px;
        display: flex;
    }

    #boxPosts{
        width: 100%;
    }
    
    #filter, #ranks {
      position: absolute;
      top: 100%;
      left: -120%;
      width: 55vw;
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      background: var(--dark-accent);
      transition: all 0.5s ease;
    }

    #ranks{
        width: 100vw;
    }

    #filter.open, #ranks.open{
        position: relative;
        left: 0px
    }

    #filter.open + #boxPosts, #filter.open + #boxPosts{
        width: 45vw;
    }
  }

@media (min-width: 800px){
    #pageContent{
        flex-direction: row !important;
    }
}

#rankDiv{
    padding: 1px;    
    border-radius: 10px;
    width: 100%;
}

.rankResult{
    background-color: var(--main-brand);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    justify-content: space-between;
    height: 30px;
}

.rankResult img{
    height: 100%;
}
