:root{
    --light-shades: #e8e8e8;
    --light-accent: #e6b4b4;
    --main-brand: #a01111 !important;
    --dark-accent: #360303;
    --dark-shades: #212121;
    --transparent-brand: #dc143c31;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    position: relative;
}

html{
    overflow: hidden;
}

#pageContent{
    display: flex;
}

.botao{
    background-color: var(--main-brand);
    width: 9vh;
    aspect-ratio: 1/1;
    border-radius: 2vmin;
    border: 0px solid;

    justify-content: center;
    align-items: center; 

    text-decoration: none;
    color: black;
    font-size: 2.5vh;

    position: absolute;
    display: flex;
} .botao:hover{scale: 0.9;}

#btnConfigs img, #headerConfigs img{
    height: 100%;
    aspect-ratio: 1/1;
}

#btnConfigs{
    left: 3vw;
    top: 15vh;
}

#btnVoltar{
    left: 3vw;
    top: 5vh;
}

/*  */

#menuHeader{
    background-color: var(--main-brand);
    display: none;
    padding: 0;
    height: 5vh;
    width: 100vw;
    align-items: center;
}

#headerConfigs{
    width: 30%;
}

#headerVoltar{
    width: 70%;
}

.headerButton{
    height: 100%;
    border: 0;
    color: var(--dark-shades);
    background-color: transparent;

    text-decoration: none;
    font-size: 2.7vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.headerButton:hover{
    background-color: var(--transparent-brand);
}

/*  */


#side{
    width: 24vw;
    height: 100vh;
    background-color: var(--transparent-brand);
    display: flex;
    flex-direction: column;
}


#boxBIO{
    padding: 10%;
    padding-bottom: 2%;
    height: 45%;
}

#bio{
    width: 100%;
    height: 100%;

    border-radius: 0.9vmax;

    overflow-y: scroll;
}

#bio::-webkit-scrollbar { /* corrigir scroll bar aqui e la em baixo*/
    width: 3px;
}


#bio::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#bio p{
    padding-top: 5%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: calc(1.1vmax + 5px);
}


#boxCED{
    padding: 7%;
    height: 10%;
}

#conquistaEmDestaque{
    background-color: rgb(31, 80, 80);
    width: 100%;
    height: 100%;
    border-radius: 2vmax;
    overflow: hidden;
}

#cardConquistaEmDestaque{
    height: 100%;
    border-bottom: none;
}


#boxRANKING{
    padding: 10%;
    padding-top: 2%;
    height: 34%;
}

#ranking{
    width: 100%;
    height: 100%;
    border-radius: 0.9vmax;
}

/*  */

#geral {
    width: -webkit-fill-available;
    height: 100vh;
}

#topper{
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: flex-end;
}

#mainInfo{
    width: 80%;
    height: 75%;
    align-self: flex-end;

    margin-right: 5%;
    margin-bottom: 2%;

    display: flex;
}



#boxAvatar{
    height: 100%;
    aspect-ratio: 1/1;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#userAvatar{
    background-color:black;
    border-radius: 100%;
    border: 2px solid white;
    width: 100%;
    aspect-ratio: 1/1;
    background: transparent; /* Avaliar se queremos deixar transparente */
}

#boxTexto{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mainInfo p, #bio, #ranking{
    background-color: var(--main-brand);
    border-radius: 20px;
}

#boxUserName, #boxInfo{
    padding-left: 6%;
    padding-right: 5%;
}


#boxUserName{
    width: auto;
    height: 50%;

    display: flex;
    align-items: center;
}

#nomeDoUsuario{
    width: 100%;
    height: 75%;
    margin: 0;
    font-size: calc(5vh + 10px);

    display: flex;
    align-items: center;
    justify-content: center;
}


#boxInfo{
    width: auto;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#userName{
    height: 31%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3vh;
}

#pontos{
    height: 31%;
    width: 40%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3vh;
}

/*  */

#center{
    width: 100%;
    height: 68%; /* MELHORAR */
    display: flex;
    justify-content: space-between;
}

/* Posts */

/* boxCbPosts TROCAR */
#boxCbPosts{
    background-color: var(--main-brand);
    width: -webkit-fill-available;
    /* height: 100%; */
    
    margin-right: 2.2%;
    margin-left: 2.2%;

    border-radius: 2vmax 2vmax 0 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#boxPosts::-webkit-scrollbar { /* corrigir scroll bar aqui e la em baixo*/
    width: 11px;
}

#boxPosts::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

/*  */

#divContentButtons{
    border-radius: 2vmax 2vmax 0 0;
    overflow: hidden;
    width: 100%;
    height: 6.5vh;
    display: flex;
    justify-content: space-evenly;

    border-bottom: 1px var(--dark-shades);

    display: none;
}

/* parte dos botões */

.contentButton{
    background-color: var(--transparent-brand);
    color: var(--dark-shades);
    height: 100%;
    width: -webkit-fill-available;

    display: none;
}

#Posts{
    background-color: transparent;
}

/* parte do conteúdo */

#boxCbPessoal{
    display: none;
    width: 100%;
    height: calc(100% - 6.5vh);
}

#boxCbPessoalRanking{
    width: 50%;
    height: 100%;

    display: table;
}



#boxCbPessoalCEDBio{
    width: 50%;
    height: 100%;
}

#boxCbBIO{
    width: 100%;
    height: 67%;
    background-color: var(--dark-accent);

    display: flex;
    justify-content: center;
    align-items: center;
}

#containerBio{
    width: 80%;
    height: 80%;
}


#boxCbCED{
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 1%;
}

/*  */

#boxCbConquistas{
    display: none;
    width: 100%;
    height: 80%;
}

/*  */

#boxPosts{
    width: -webkit-fill-available;
    height: -webkit-fill-available;

    gap: 6.8%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    word-wrap: break-word;
}


/* Conquistas */


#boxConquistas{
    background-color: var(--main-brand);
    width: 24vw;
    height: 100%;
}

#quadradoConquistas{
    margin: auto;
    margin-top: 5%;

    width: 85%;
    height: 88%;
    border-radius: 1.8vmax;
    background-color: var(--dark-accent);

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scroll-snap-type: y proximity;

    gap: 3.5%;
}

#quadradoConquistas::-webkit-scrollbar{
    width: 0;
    display: none;
}

.cardConquista{
    background-color: var(--dark-accent);
    width: 100%;
    height: 16%;

    display: flex;

    scroll-snap-align: start;
}

/* Melhorar responsibilidade */
.boxIconeConquista{
    /* width: 30%; */
    height: 100%;
    aspect-ratio: 1/1;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.boxIconeConquista img{
    width: 100%;
    aspect-ratio: 1/1;
}

.textoConquista{
    width: -webkit-fill-available;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vmin;
}

.textoConquista{
    color: white;
}

@media(aspect-ratio > 27/11), (width > 900px){
    #boxCbPessoal{
        display: none !important;
    }

    #boxCbConquistas{
        display: none !important;
    }

    #boxPosts{
        display: flex !important;
    }
}

/* side deixa de existir */
@media (max-width: 900px), (max-aspect-ratio: 27/21){
    #side {
        display: none;
    }

    #divContentButtons{
        display: flex;
    }

    #Posts, #CbPessoal{
        display: block;
    }
}

/* consquistas deixa de existir */
@media (max-width: 780px), (max-aspect-ratio: 11/10){
    #boxConquistas {
        display: none;
    }

    #boxAvatar{
        height: 50%;
    }

    #topper{
        justify-content: center;
    }

    #mainInfo{
        margin-right: 0;
    }

    .botao{
        display: none;
    }

    #menuHeader{
        display: flex;
    }

    #mainInfo{
        margin-bottom: 3%;
    }

    #boxPosts{
        padding-bottom: 13%;
    }

    #CbConquistas{
        display: block;
    }
}
