:root{
  --light-shades: #e8e8e8;
  --light-accent: #e6b4b4;
  --main-brand: #a01111;
  --dark-accent: #360303;
  --dark-shades: #212121;
  --shades-contrast: #292929;
}

body{
  margin: 0;
  background-color: var(--shades-contrast);
}

.centro{
  height: fit-content;
  width: calc(50vw + 30px);
  margin: auto;
}

/* POST */

.boxPost{
  background-color: var(--main-brand);
  padding-bottom: 0.3vh;
  border-radius: 0 0 3vh 3vh;
}

/* capa */

#divCapa{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* INFORMAÇÕES POST*/
#informacoesPost{
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 8%;
  margin-bottom: 5%;
}

/* TÍTULO */
#tituloContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shades-contrast);
}

#titulo{
  margin: 2%;
  color: var(--light-shades);
  font-size: 6vh;
}

/* informações do autor */
.informacoes{
  width: 100%;
  margin-top: 1%;
  display: flex;
  height: 5vh;
}

#informacoesUser{
  height: 7vh;
  background-color: transparent;
}

#boxAutorAvatar{
  padding: 1%;
}

.avatar{
  border-radius: 100%;
  border: 1px solid white;
  height: 100%;
  aspect-ratio: 1/1;
  background: transparent; 
}

#nomeAutorPost{
  font-size: calc(2vmax + 5px);
  word-wrap: break-word;
}

.containerNome{
  margin-left: 3%;
  display: flex;
  align-items: center;
}

/* Texto do Post */

#boxTexto{
  width: 93%;
  background-color: #fff;
  margin: auto;
  min-height: 10%;
  overflow-wrap: break-word;
}

#texto{
  padding: 3%;
  font-size: calc(2vmin + 10px);
  text-align: justify;
}

/* COMENTÁRIOS */

#boxComentarios{
  background-color: var(--main-brand);
  margin-top: 4vh;
  border-radius: 3vh 3vh 0 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 7%;
  padding-bottom: 3%;
  gap: 2vh;
}

.comentario{
  width: 80%;
}

/*  */

.boxComentarioAvatar{
  padding: 1%;
}

.nomeAutorComentario{
  font-size: 4vh;
}

/*  */

.boxTextoComentario{
  margin: auto;
  background-color: var(--light-shades);
  margin-bottom: calc(-3vh + 10px);
}

/* p */
.texto{
  padding: 3%;
  font-size: calc(1.8vmin + 9px);
  text-align: justify;
  color: var(--dark-shades)
}

.curtidas {
  margin: auto;
  width: 94%;
  display: flex;
  align-items: center;
}

#quantasCurtidas{
  color: white;
  font-size: calc(2vmax + 10px);
  margin-right: 2%;
}

.interações{
  height: unset;
  min-width: unset;
  position: relative;
  background-color: transparent;
}

#report{
  width: unset;
}

.interações button{
  background-color: transparent;
  padding: 2%;
  border: transparent;
  cursor: pointer;
}

#dislike{
  margin-right: 5%;
}

#like, #dislike{
  padding: 2% 0%;
}

.interações img, .Dark-theme #report img{
  filter: invert(100%);
  width: calc(2vmax + 20px);
}

.Dark-theme .interações img, #report img{
  filter: invert(0%);
}

.Descurtido{
  filter: invert(70%) sepia(74%) saturate(22223%) hue-rotate(344deg) brightness(81%) contrast(1120%)
}

.BoxCurtidasComentario{
  margin-top: calc(0.5vmax + 10px);
}

.BoxCurtidasComentario .curtidas img, .BoxCurtidasComentario #report img{
  width: calc(1.3vmax + 10px);
}

.BoxCurtidasComentario #quantasCurtidas{
  font-size: calc(0.5vmax + 15px);
}


/*  */

.areaComentario{
  width: 100%;
  resize: none;
  background-color: var(--light-shades);
  color: var(--dark-shades);
  height: calc(7vmax + 70px);
  font-size: calc(0.5vmax + 10px);
}

.EnviarComentario{
  cursor: pointer;
  background-color: var(--main-brand);
  border: 1px solid white;
  color: white;
  padding: 0.5vmax;
  border-radius: 20%;
  float: right;
  font-size: calc(0.5vmax + 10px);
}



@media(orientation: portrait){
  .centro{
    width: 100vw;
  }
}