header{
    background-color: var(--main-brand);
    display: flex;
    padding: 30px 0%;
    height: 5vh;
    align-items: center;
}


/* HEADER - DIV ICONE */

#divIcone{
    width: 25%;
    text-align: center;
}

#divIconene img{
    width: calc(10vmax + 60px);
    vertical-align: middle;
}


/* HEADER - SEARCH BAR */

#search{
    width: 50%;
}

.input-box {
    position: relative;
    height: 76px;
    max-width: 55%;
    width: 100%;
    background: var(--dark-shades);
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .input-box i,
  .input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-box i {
    left: 20px;
    font-size: 30px;
    color: var(--dark-shades);
  }
  .input-box input {
    height: 100%;
    width: 75%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    color: var(--light-shades);
    background-color: transparent;
  }
  
  .input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #e8e8e8;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    background-color: var(--main-brand);
    cursor: pointer;
  }
  .input-box .button:active {
    transform: translateY(-50%) scale(0.98);
  }

  @media screen and (max-width: 550px) {
    .input-box {
       height: 66px;
       margin: 0 8px;
    }
    .input-box i {
       left: 12px;
       font-size: 25px;
    }
    .input-box input {
       width: 80%;
       padding: 0 0vmax 0 3vmax;
       font-size: calc(1vmax + 5px);
    }
    .input-box .button {
       display: none;
    }
  }


/* HEADER - BOTÕES */

#botões{
    width: 25%;
    text-align: end;
}

#botões img{
    width: calc(3vmax + 15px);
    cursor: pointer;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#botões button{
    padding: 2%;
}