:root{
  --light-shades: #e8e8e8;
  --light-accent: #e6b4b4;
  --main-brand: #a01111;
  --dark-accent: #360303;
  --dark-shades: #212121;
}

/* CONFIGURAÇÕES GERAIS */

*{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

html, body{
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--dark-shades);
}

/* POSTS */

.postResult{
  min-height: calc(5vmax + 100px);
  background-color: var(--light-shades);
  padding: 10px;
  margin: 10px;
  border-radius:  0.9vmax;
  color: var(--dark-shades);
  flex-direction: row;
  flex-shrink: 0;
}
.postResult p{
  font-size: calc(0.5vmax + 10px);
}

.postResult #semCapa{
  padding-left: 8vmax; padding-right: 6vmax;
}

.postResult h1{
  font-size: calc(1vmax + 15px);
}
.postResult a{
  color: var(--main-brand);
}

.postResult .capa{
  background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
  height: calc(15vmax + 50px);
}

.static{
  position: relative; height: auto;
  background-color: var(--light-shades);
}

.interações{
  height: calc(5vmax + 80px);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  position: absolute;
  padding: 1% 2% 1% 1%;
  background-color: var(--light-shades);
  border-radius: 0px 0px 50px 0px;
}

.interações button{
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.curtidas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#quantasCurtidas{
  grid-row: span 2;
  margin-right: 5px;
  font-size: calc(0.5vmax + 10px);
  color: var(--dark-shades);
}

#report{
  width: 70%;
}

#like:hover{
  background-color: green;
}

#report:hover, #dislike:hover{
  background-color: red;
}

.interações img{
  width: calc(1vmax + 20px);
  padding: 5%;
}




/*  */


.Oculto{
  display: none;
}

.IconeMenuImg{
  filter: invert(0%) !important;
}


.Dark-theme .IconeMenuImg{
  filter: invert(100%) !important;
}

/* MUDANÇA DE IMAGENS NO DARK-THEME */

.Dark-theme #tema2, .Dark-theme #tema{
  content: url("../images/LightIcon.png");
}

.Dark-theme #icone{
  content: url("../images/iconWithTextDark.png");
}

#icone{
  width: calc(9vmax + 90px) !important;
}


button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--light-shades);
  font-size: calc(1vmax + 10px);
}

