:root{
    --light-shades: #e8e8e8;
    --light-accent: #e6b4b4;
    --main-brand: #dc143c;
    --dark-accent: #360303;
    --dark-shades: #212121;
  }

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--dark-shades);
    overflow-y: hidden;
}

#pageContent{
    background-color: var(--dark-shades);
    display: flex;
    justify-content: space-between;
}

header{
    background-color: var(--main-brand);
    display: flex;
    padding: 30px 0%;
    height: 5vh;
    align-items: center;
}

#search{
    text-align: center;
    width: 60%;
}

#search input{
    height: 4vh;
    width: 90%;
    text-align: center;
}

#icone{
    width: 20%;
    text-align: center;
}

#icone img{
    width: calc(10vmax + 60px);
    vertical-align: middle;
}

#botões{
    width: 20%;
    text-align: end;
}

#botões button{
    margin-right: 10px;
}




#filter{
    background-color: var(--dark-shades);
    width: 20%;
    text-align: center;
    color: var(--light-shades);
    outline: 2px dashed var(--light-shades);
    outline-offset: -8px;
    padding: 20px;
}

footer{
    background-color: var(--dark-shades);
}

#ranks{
    background-color: var(--dark-shades);
    width: 20%;
    text-align: center;
    color: var(--light-shades);
    outline: 2px dashed var(--light-shades);
    outline-offset: -8px;
    padding: 20px;
}

#btnConfigs{
    background-color: var(--main-brand);
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 70px;
    height: 70px;
    border-radius: 20px;
    border: 0px solid;
}#btnConfigs:hover{scale: 0.9;}

#posts{
    background-color: var(--dark-shades);
    width: 60%;
    text-align: center;
    padding: 10px;
    color: var(--light-shades);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 90vh;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-brand);
    border-radius: 20px;
    border: 0px solid;
}


#postResult{
    background-color: var(--light-shades);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: var(--dark-shades);
    flex-direction: row;
    flex-shrink: 0;
}#postResult a{color: var(--main-brand);}

/* RESPONSIVIDADE */

#ToolBar{
    width: 100vw;
    background-color: var(--dark-accent);
    color: var(--light-shades);
    display: none;
    text-align: center;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    #icone img{
        content: url("../images/logoIcon.png");
        width: calc(4vmax + 20px)
    }
    #ToolBar{
        position: fixed;
        bottom: 0%;
        padding: 10px 0px 10px 0px;
        display: flex;
    }

    #posts{
        width: 100%;
    }
    
    #filter, #ranks {
      position: absolute;
      top: 100%;
      left: -120%;
      width: 55vw;
      display: flex;
      padding: 20px;
      flex-direction: column;
      align-items: center;
      background: var(--dark-accent);
      transition: all 0.5s ease;
    }

    #ranks{
        width: 100vw;
    }

    #filter.open, #ranks.open{
        position: relative;
        left: 0px
    }

    #filter.open + #posts, #filter.open + #posts{
        width: 45vw;
    }
  }

@media (min-width: 800px){
    #pageContent{
        flex-direction: row !important;
    }
}
