:root{
    --light-shades: #e8e8e8;
    --light-accent: #e6b4b4;
    --main-brand: #a01111;
    --shades-contrast: #292929;
    --dark-accent: #360303;
    --dark-shades: #212121;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body{
    background-color: var(--dark-shades);
    color: var(--light-shades);
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
}

.navbarLateral{
    width: calc(50vw + 50px);
    height: 100vh;
    display: flex;
    font-size: calc(2vmax + 15px);
    background-color: var(--dark-accent);
    gap: 2000px;
    border-right: 2px solid var(--light-accent)
}

.navbarLateral ul{
    width: 100%;
    text-align: center;
}

.navbarLateral li{
    cursor: pointer;
    margin-top: calc(4vmax + 20px) ;
    border: 1px solid var(--light-accent);
}

#Principal{
    margin-bottom: 5vmax;
    border: transparent;
    margin-top: 0px;
    text-align: start;
}

#Principal a{
    color: var(--light-shades)
}

.navbarLateral img{
    filter: invert(100%);
}

.Dark-theme li img{
    filter: invert(0%)
}

.navbarLateral img{
    width: calc(1vmax + 10px);
    filter: invert(100%)
}

.Aparencia{
    justify-content: center;
    width: calc(50vmax - 50px);
}

h1{
    padding: 0;
    text-align: center;
    font-size: calc(4vmax + 20px);
    margin-bottom: calc(3vmax + 30px);
}

.Conteudo{
    width: 50%;
    padding: 0vmax 10vmax;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
}

.Conteudo p{
    vertical-align: bottom;
    font-size: calc(1vmax + 10px);
}

@media (max-width: 600px){
    .navbarLateral{
        position: absolute;
        width: 100vw;
    }
}

