body{
    background-color: blueviolet;
    display: flex;
    padding: 0;
    margin: 0;
}

#side {
    width: 21vw;
    height: 100vh;
    background-color: deeppink;
}

/* #informacaoGeral{
    background-color: aqua;
    width: 300px;
    height: 300px;
}  */

/*  */

#geral {
    width: -webkit-fill-available;
    height: 100vh;
    background-color: coral;
}

#topper{
    background-color: rgb(30, 255, 0);
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: flex-end;
}

#mainInfo{
    background-color: blue;
    width: 80%;
    height: 75%;
    align-self: flex-end;

    margin-right: 5%;
    margin-bottom: 2%;

    display: flex;
}



#boxAvatar{
    height: 100%;
    background-color: rgb(0, 255, 255);
    /* width: 28%; */
    aspect-ratio: 1/1;
}

#userAvatar{
    background-color:black;
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1/1;
}

#boxTexto{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#mainInfo p{
    /* coloca cor de fundo */
}

#boxUserName, #boxInfo{
    padding-left: 6%;
    padding-right: 5%;
}


#boxUserName{
    width: auto;
    height: 50%;
    background-color: azure;
}

#userName{
    background-color: brown;
    width: 100%;
    height: 75%;
}


#boxInfo{
    width: auto;
    height: 50%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#nomeDoUsuario{
    background-color:chocolate;
    height: 30px;
    width: 40%;
}

#pontos{
    background-color: darkgreen;
    height: 30px;
    width: 40%;
}

/*  */

#center{
    background-color: black;
    width: 100%;
    height: 68%; /* MELHORAR */
    display: flex;
    justify-content: space-between;
}


#boxPostsDoUser{
    background-color: rgb(160, 17, 17);
    width: -webkit-fill-available;
    height: 100%;

    display: flex;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


#boxPostsDoUser::-webkit-scrollbar { /* corrigir scroll bar aqui e la em baixo*/
    width: 11px;
}


#boxPostsDoUser::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

#boxConquistas{
    background-color: rgb(255, 255, 255);
    width: 37%;
    height: 100%;
}

#quadradoConquistas{
    margin: auto;
    margin-top: 5%;

    width: 85%;
    height: 88%;
    border-radius: 23px;
    background-color: blue;

    display: flex;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#quadradoConquistas ::-webkit-scrollbar {
    display: none;
    width: 0;
}

#quadradoConquistas::-webkit-scrollbar-thumb {
    width: 0;
    display: none;
}

.cardConquista{
    background-color: green;
    width: 100%;
    height: 50px;

    display: flex;
}

.boxIconeConquista{
    background-color: purple;
    width: 20%;
    height: 50px;
}

.textoConquista{
    background-color: wheat;
    width: 80%;
    height: 50px;
}

@media(max-width: 800px){
    #side {
        display: none;
    }
}

@media(max-width: 500px){
    #boxConquistas {
        display: none;
    }

    #boxAvatar{
        height: 50%;
        /* boxTexto deixa de exisitir, mainInfo vira wrap, boxUserName e boxPontos têm larguras alteradas; jogar itens de boxTexto para fora */
    }
}
