:root{
    --light-shades: #e8e8e8;
    --light-accent: #e6b4b4;
    --main-brand: #dc143c;
    --main-contrast: #6b14dc;
    --dark-accent: #360303;
    --dark-shades: #212121;
}

*{
    padding: 0px;
    margin: 0px;
}

body{background-color: var(--dark-shades);}

#signupInput{
    background-color:var(--dark-shades);
    color: var(--light-shades);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    
}

#signupInput *{
    margin:10px;
    padding: 5px;
    border: 0px solid;
    width: 100%;
}

#signupInput #emailInput,#nameInput,#usernameInput,#passwordInput{
    height: 25px;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
}

#signupInput #submitBtn, #resetBtn{
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
}

#signupInput #submitBtn{
    height: 50px;
    background-color: var(--main-brand);
    font-weight: bolder;
}

#signupInput #resetBtn{
    height: 30px;
    width: 100px;
}

#warningText{
    color: var(--main-brand);
    font-size: 20px;
}