/* Converter de ID para classe em APP */

:root{
  --light-shades: #e8e8e8;
  --light-accent: #e6b4b4;
  --main-brand: #a01111;
  --dark-accent: #360303;
  --dark-shades: #212121;
}

/* consertar especificidades */
#postResult{
    background-color: var(--light-shades);
    border-radius: 10px;
    color: var(--dark-shades);
    flex-shrink: 0;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

#postResult a{
    color: var(--main-brand);
}

.Oculto{
  display: none;
}

.IconeMenuImg{
  filter: invert(0%) !important;
}


.Dark-theme .IconeMenuImg{
  filter: invert(100%) !important;
}

.Dark-theme #tema2, .Dark-theme #tema{
  content: url("../images/LightIcon.png");
}


button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--light-shades);
  font-size: calc(1vmax + 10px);
}

button img{
  margin-right: 15px;
}
