/* Converter de ID para classe em APP */

:root{
  --light-shades: #e8e8e8;
  --light-accent: #e6b4b4;
  --main-brand: #dc143c;
  --dark-accent: #360303;
  --dark-shades: #212121;
}

/* consertar especificidades */
.postResult{
    background-color: var(--light-shades);
    border-radius: 10px;
    color: var(--dark-shades);
    flex-shrink: 0;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.postResult a{
    color: var(--main-brand);
}