:root{
  --light-shades: #e8e8e8;
  --light-accent: #e6b4b4;
  --main-brand: #a01111;
  --shades-contrast: #292929;
  --dark-accent: #360303;
  --dark-shades: #212121;
}

*{
  box-sizing: border-box;
}

html, body{
  color: var(--light-accent);
}

/* HEADER */

.Lista {
  display: flex;
  gap: 50px;
}

.Lista a {
  font-size: 30px;
  font-weight: 100;
  color: var(--dark-shades);
  transition: all 0.55s ease-in-out;
  position: relative;
}

.Lista a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--dark-accent);
  transition: width 0.3s;
}

.Lista a:hover::after {
  width: 100%;
}

button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header {
  background-color: var(--main-brand);
  position: fixed;
  top: 0;
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 10%;
}

.Principal {
position: absolute;
left: calc(2vmax + 10px);
}

#tema, #IconeMenu {
width: 40px;
align-items: center;
}

#tema2 {
  width: calc(2vmax + 20px);
}

#tema, #tema2{
  filter:invert(100%);
}

.TemaButton, #IconeMenu{
position: absolute;
right: calc(2vmax + 10px);
}

#IconeMenu {
  z-index: 2;
  cursor: pointer;
  display: none;
}

.IconeMenuImg{
  filter: invert(100%);
}

.Oculto {
  display: none;
  }


/* HERO SECTION */

.hero {
  min-height: 100vh;
  background-color: var(--dark-shades);
  background-image: url("../images/BackgroundImage.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-align: center;
  align-items: center;
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 105%;
  }
  100% {
    background-size: 100%;
  }
}

@media (max-width: 900px){
  .hero{
    animation: pulse2 3s infinite;
  }
  .hero h1{
    padding-top: 50px;
  }
}

@keyframes pulse2 {
  0% {
    background-size: 115%;
  }
  50% {
    background-size: 120%;
  }
  100% {
    background-size: 115%;
  }
}

.hero h1{
margin-top: calc(9vmax + 120px);
font-size: calc(5vmax + 15px);
}

.hero p{
font-size: calc(1vmax + 15px);
}

/* SOBRE SECTION */

.sobre{
  background-color: var(--shades-contrast);
  color: var(--light-shades);
  text-align: center;
  padding: 10vmax 5vmax;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}

.sobre h1, .equipe h1{
font-size: calc(2.5vmax + 10px);
}

.sobre p, .equipe p{
font-size: calc(0.6vmax + 10px);
}

#ImagemCentral{
  margin-left:  10vw;
  width: calc(10vmax + 60px);
  margin: auto;
  }

/* EQUIPE SECTION */

.equipe {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--dark-shades);
  color: var(--light-shades);
  padding: 10vmax 5vmax;
  text-align: center;
}

.equipe a{
  color: var(--light-accent);
  font-size: calc(0.7vmax + 12px);
}

#pCriadores{
  margin-bottom: 30px;
}

#equipeDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: calc(2vmax + 10px);
}

#pessoaEquipe{
  width: calc(20vmax + 80px);
  padding: 10px;
  transition: all 0.2s ease;
}

#pessoaEquipe:hover{
  scale: 1.05;
  background-color: var(--main-brand);
  border-radius: 20px;
}

#pessoaEquipe:hover  a{
  color: var(--dark-shades)
}

#pessoasEquipe a{color: var(--main-brand);}


/* FOOTER */

footer {
background-color: var(--main-brand);
color: var(--dark-accent);
font-size: calc(0.8vmax + 8px);
display: flex;
padding: 5px 1.5vmax;
}

footer a {
color: var(--light-accent);
}

#creditos {
position: absolute;
right: 1.5vmax;
}

/* RESPONSIVIDADE */

@media (max-width: 800px) {
  #IconeMenu {
    display: flex;
  }
  .TemaButton {
    display: none;
  }
  .Lista {
    position: absolute;
    top: 100%;
    right: -120%;
    width: 300px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background: var(--main-brand);
    transition: all 0.5s ease;
    gap:0;
  }
  .Lista a{
    margin-left: 0;
    display: block;
    margin: 5px 0;
  }
  .Lista.open {
    right: 10px;
    width: 200px;
    border-radius: 20px;
  }

}

#equipeDiv{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  #equipeDiv{
    display: flex;
    flex-direction: column;
  }
  .sobre{
    grid-template-columns: repeat(1, 1fr);
  }
}




